*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

h1{
    font-family: "Rubik", sans-serif;
    font-weight: bold;
}

body{
    height: 100vh;
}
header{
    background-image: url(../img/wall.png);
}

footer{
    min-height: 50px;
}

main{
    background-image: url(../img/cork.png);
    min-height: 800px;
    font-family: "Rubik", sans-serif;
  
}


#card-hover:hover{
    rotate: 30deg;
    scale: 1.2;
    #pin-hover{
        display: none;
    }
}

#card-hover{
    position: relative;
    
}

#pin-hover{
    position: absolute;
    top: -13px;
    
}

.card{
    height: 50px;
}
