*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

h1{
    font-family: "Rubik", sans-serif;
    font-weight: bold;
}

body{
    height: 100vh;
}
header{
    background-image: url(../img/wall.png);
}

footer{
    min-height: 50px;
}

main{
    background-image: url(../img/cork.png);
    min-height: 800px;
    font-family: "Rubik", sans-serif;
  
}


#card-hover:hover{
    rotate: 30deg;
    scale: 1.1;
    #pin-hover{
        display: none;
    }
}

#card-hover{
    position: relative;
    
}

#pin-hover{
    position: absolute;
    top: -13px;
    
}

.card{
    height: 50px;
}

p{
    text-transform: capitalize;
    font-family: "Edu TAS Beginner", cursive;
}

.overlay{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.img-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 400px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#btn-close{
    text-align: center;
}